<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Sửa Sản Phẩm</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Quay lại</a>
          </div>
        </div>
      </div>
      <form #productForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="name" class="p-t-b-10">Tên Sản phẩm <span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" type="text" class="form-control" id="name" required maxlength="255"
                [(ngModel)]="productList.name" name="name" #name="ngModel">
              <div *ngIf="name.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!name.errors?.['required']">
                  Vui lòng nhập Tên Sản phẩm
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="image" class="p-t-b-10">Hình Ảnh<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" type="text" class="form-control" id="image" required maxlength="500"
                [(ngModel)]="productList.image" name="image" #image="ngModel">
              <div *ngIf="image.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!image.errors?.['required']">
                  Vui lòng nhập hình ảnh
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="category" class="p-t-b-10">Loại sản phẩm<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input class="form-control" type="text" class="form-control" id="category" required maxlength="255"
                [(ngModel)]="productList.category" name="category" #category="ngModel">
              <div *ngIf="category.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!category.errors?.['required']">
                  Vui lòng nhập Loại
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10">Giá<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" class="form-control" id="price" required [(ngModel)]="productList.price"
                name="price" #price="ngModel">></textarea>
              <div *ngIf="price.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!price.errors?.['required']">
                  Vui lòng nhập Giá
                </div>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10">Giá KM<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" class="form-control" id="discountPrice" required [(ngModel)]="productList.discountPrice"
                name="discountPrice" #discountPrice="ngModel">></textarea>
              <div *ngIf="discountPrice.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!discountPrice.errors?.['required']">
                  Vui lòng nhập Giá KM
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="update(productForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>