<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Thống kê</b></h4>
            </div>
            <!-- <div class="col-sm-6">
              <button class="btn btn-success">
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div> -->
          </div>
        </div>
        <div class="box">
            <div class="">
                <div class="" style="display: flex;">
                    <div class="box" style="padding: 10px 10px 10px 10px;">
                        <div class="form-group" style="border: 1px solid ; width: 200px; height: 200px;">
                            <div class="tittle" style="text-align: center;">
                                <h3 style="padding-top: 10px;">San pham</h3>
                            </div>
                            <hr>
                            <div class="frofile-product" >
                                <h1 style="text-align: center; padding-top: 10px;" >{{sanPhamCount}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="" style="padding: 10px 10px 10px 10px;">
                        <div class="form-group" style="border: 1px solid ; width: 200px; height: 200px;">
                            <div class="tittle" style="text-align: center;">
                                <h3 style="padding-top: 10px;">don hang</h3>
                            </div>
                            <hr>
                            <div class="frofile-product" >
                              <h1 style="text-align: center; padding-top: 10px;" >{{donHangCount}}</h1>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>
  